/* Component specific styles goes here */

.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  .cancel-btn, .cancel-btn :hover,.cancel-btn::selection,.cancel-btn:checked{
    background-color: #68727C;
    border: #68727C;
    margin-left: 50px;
  }